---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 12);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Ifedolapo Ojo</div>
    <div class="text-3xl py-3 font-bold">Technical Writer</div>
    <div class="py-2">
      <text class="text-lg">
        <p>I am a technical writer with about <b>3 years of experience</b>, passionate about simplifying complex concepts, and crafting clear engaging API documentation.
        I am skilled in Python, and proficient in using tools like Mkdocs, Swagger, Postman, and Jira for seamless project flow.</p> 

        <p> After experiencing firsthand the frustration that comes with unclear APIs, I am committed to user-friendly and comprehensive documentation.
        Also, I actively contribute to the tech community through Medium, I love to read books during my free time, and I am open to work.</p>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/ifedolapo-ojo-a1a3691b9" target="_blank"> Let's connect!</a>
      <a class="btn" href="./ifedolapo-ojo-resume.pdf" download>My Resume</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Work</div>
  </div>

  <HorizontalCard
  title="JSON Placeholder API with Mintlify"
  img="/mintlify.png"
  desc="Using Mintlify, an AI-powered API docs tool, to build docs and test endpoints"
  url="https://abrahamdocs.mintlify.app/api-reference/introduction"
  />   
  <div class="divider my-0"></div>    
  <HorizontalCard
    title="Webscraping Article for the Social Proxy"
    img="/socialproxy.png"
    desc="How to Scrape Reviews from Trustpilot"
    url="https://thesocialproxy.com/2024/10/08/how-to-scrape-reviews-from-trustpilot/"
  /> 
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="KeyTalk API Documentation"
    img="/keytalk.png"
    desc="Transformed KeyTalk's API from PDF to web version"
    url="https://documenter.getpostman.com/view/28050470/2sA3sAgncC#8c872955-86a8-468b-83e4-17ffd1a40a1d"
  /> 
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="API Documentation with Docusaurus"
    img="/docusaurus.png"
    desc="Built Docs site with Docusaurus"
    url="https://docusaurus-demo-by-ife.netlify.app/docs/API/authentication"
  />    
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="Upgrade Chat CRM API Documentation"
    img="/mkupgrade.png"
    desc="Upgrade Chat CRM API Docs for a client's special usecase"
    url="https://ifedolapo-9.github.io/upgrade-chat-crm-api/"
  />  
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="Technical Article for PDF Generator API"
    img="/pdfgenerator.png"
    desc="3 Ways to Generate PDF from HTML with JavaScript (Kindly use a VPN if the link isn't going through)"
    url="https://pdfgeneratorapi.com/blog/3-ways-to-generate-pdf-from-html-with-javascript?_gl=1*kkt386*_ga*MTExMDY3OTA0MC4xNzE5Mzg1ODY5*_up*MQ"
  />   
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="Expensify API Docs with Mkdocs"
    img="/mkexpensify.png"
    desc="Improved Expensify documentation using Mkdocs for docs building and deployment"
    url="https://ifedolapo-9.github.io/my-project/site/"
  /> 
  <div class="divider my-0"></div>  
  <HorizontalCard
    title="Expensify Postman Collection"
    img="/expensify.jpg"
    desc="API documentation using Postman to httpsstreamline Expensify's API interactions for a client"
    url="https://documenter.getpostman.com/view/28050470/2sA35D74CW#265c538a-5468-4bb5-8e35-7901aea90e9c"
  />  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Siemans Desigo User Manual"
    img="/desigo.png"
    desc="Created Siemans Desigo user manual for software developers with special use cases"
    url="https://drive.google.com/file/d/1ija4xqE6Ow3O1j-9UqkXVAlqFN5jNgxR/view?usp=drivesdk"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Relogic API Documentation"
    img="/relogic.jpg"
    desc="API documentation using Postman for critical API endpoints related to Relay state management"
    url="https://relogicapi.avlinkpro.com/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bauteilsortiment API (BTS)"
    img="/bts.jpg"
    desc="Tested endpoints for functionality on Swagger and Django after being added to the backend server powering the site."
    url="https://github.com/Ifedolapo-9/Bauteilsortiment"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Webscraping Project Using Python"
    img="/web-scraping.jpg"
    desc="A python script to retrieve data on the web."
    url="https://github.com/Ifedolapo-9/Automating-Getting-a-List-of-Events-from-Python-s-Website-Using-Selenium"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-2">My Skills</div>
      <ul>
        <li> - Technical Documentation and Software Documentation </li>
        <li> - RESTful API Documentation and Testing (Mkdocs, Swagger, Stoplight, Postman) </li>
        <li> - Project Management (Agile methodology, Jira, Scrum, and Confluence) </li> 
        <li> - Web Development (Python, JavaScript, HTML, CSS) </li> 
        <li> - Git and GitHub, Microsoft Word, and Google Docs </li> 
        <li> - Search Engine Optimization (SEO) </li> 
        <li> - Communication (Written, Verbal, Teamwork) </li> 
        <li> - Research, Collaboration, Leadership, and Problem-solving </li> 
      </ul>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Articles</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={post.data?.url}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
